<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="eHealthCare.Properties.Settings.QL_BENHVIENConnectionString"
            connectionString="Data Source=LAPTOP-J4RD80QQ\MSSQLSERVER01;Initial Catalog=QL_BENHVIEN;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>